{% extends 'layout.html' %}

{% block title %}
    Django_Gramm
{% endblock %}

{% block content %}
    <h1>DjangoGramm</h1>
        <p>It is a popular social network and mobile application for sharing photos and videos,
 which allows users to create, edit
 and share multimedia content with friends and followers.
 Launched in 2024, DjangoGramm is quickly becoming one of the most popular applications,
 especially among young audiences, and is now a key platform for visual content,
 personal branding, marketing and social interaction.
        </p>
{% endblock %}
